<div id="bd" class="page-wrapper-simple">
    <div id="nonav" class="page-simple" style="width:100%; margin-left: 10%; margin-right: 10%;">
        <div>
            <h1 class="maintenance-title text-center">CNES Scan Help</h1>
            <form id="generation-form">
                <p><em>If you need help you can report to the documentation available on the desktop. It contains:</em></p>
                <br/>
                <ul class="big-spacer-bottom">
                    <li>- <strong>User guide:</strong> CAT-user-guide.docx</li>
                    <li>- <strong>Tutorial:</strong> CAT-support-formation.pptx</li>
                    <br/>
                    <li>- <strong>Configuration guide:</strong> CAT-configuration-guide.docx</li>
                    <li>- <strong>Architecture guide:</strong> CAT-architecture-guide.docx</li>
                    <li>- <strong>Exploitation guide:</strong> CAT-exploitation-guide.docx</li>
                    <br/>
                    <li>- <strong>FAQ:</strong> CAT-FAQ.docx</li>
                </ul>
            </form>
        </div>
    </div>
</div>