<!--
	This file is part of cnesscan.

	cnesscan is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	cnesscan is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with cnesscan.  If not, see <http://www.gnu.org/licenses/>.
-->

<div id="bd" class="page-wrapper-simple">
    <div id="nonav" class="page-simple" style="width:100%; margin-left: 10%; margin-right: 10%;">
        <div>
            <h1 class="maintenance-title text-center">CNES Scan Help</h1>
            <form id="generation-form">
                <p><em>If you are using CNES-scan with CAT throught VM / CNES computer, please check documentation in the desktop:</em></p>
                <br/>
                To use cnes-scan you can refer to
                <br />
                <ul class="big-spacer-bottom">
                    <li>- <strong>The README file:</strong> <a href="https://github.com/lequal/sonar-cnes-scan-plugin">README.md</a></li>
                    <li>- <strong>The README file of sonar-cnes-report:</strong> <a href="https://github.com/lequal/sonar-cnes-report">README.md</a></li>
                    <br/>
                    <li>- <strong>The user-guide of docker-CAT:</strong> <a href="https://lequal.github.io/tools/how-to-use-cat">User-guide</a></li>
                    <li>- <strong>The presentation of the tools from lequal:</strong> <a href="https://lequal.github.io/">lequal.github.io</a></li>
                </ul>
                <p>If you find a bug, feel free to open an issue at <a href="https://github.com/lequal/sonar-cnes-scan-plugin/issues">github.com/lequal/sonar-cnes-scan-plugin/issues</a></p>
            </form>
        </div>
    </div>
</div>